body,ul,ol,li,button,input,form{
	margin:0;
	padding:0;
	font-size:13px;
}
ul li{
	list-style:none;
}
a{
	color:#555;
}
.nav{
	height:32px;
	min-width:1100px;
}
.weather{
	display:inline-block;
	margin-left:16px;
	line-height:32px;
}
.weather a{
	text-decoration:none;
	font:12px arial;
}
.weather a span{
	display:inline-block;
	width:20px;
	text-align:center;
	
}
.weather .show-weather-status{
	color:#38f;
}
.nnav{
	display:inline-block;
	margin-right:16px;
	line-height:32px;
	font:12px arial;
}
.mnav{
	display:inline-block;
	font-weight:bold;
	height:32px;
	margin-left:19px;
	line-height:32px;
}
.mmnav{
	width:86px;
	background:#398bfb;
	text-align:center;
}
.mmnav a{
	text-decoration:none;
	color:white;
}
.nav .right{
	float:right;
}
.nav .left{
	float:left;
}
.search-body{
	min-height:310px;
}
.search{
	position:relative;
	width:641px;
	margin:0 auto;
	text-align:center;
	top:140px;
}

.search .top img{
	position:static;
	width:270px;
	height:129px;
	bottom:10px;
	top:33px;
}
.fm{
	width:641px;
	height:40px;
}
.fm > span{
	vertical-align:top;
}
.fm .in{
	position:relative;
	display:inline-block;
	width:532px;
	height:40px;
	text-align:center;
}
.fm .in > span{
	position:absolute;
	display:block;
	width:18px;
	height:19px;
	top:10px;
	right:5px;
	background:url("../img/camera.png") no-repeat;
	cursor:pointer;
}
.fm .in > span:hover{
	background:url("../img/camera.png") no-repeat 0 -20px;
}
.fm .in input{
	width:518px;
	height:18px;
	padding:9px 7px;
}
.fm .sear{
	display:inline-block;
	width:102px;
	height:40px;
}
.fm .sear input{
	width:102px;
	height:40px;
	cursor:pointer;
	padding:0;
	background:none;
	background-color:#38f;
	font-size:16px;
	color:white;
	border:0;
}

.footer{
	position:relative;
	height:550px;
	text-align:center;
	color:#999;
}
.footer a{
	color:#999;
}
.footer-content{
	position:absolute;
	bottom:10px;
	left:50%;
	transform:translateX(-50%);
}
.footer-content i{
	display:inline-block;
	width:14px;
	height:16px;
	line-height:16px;
	background:url("../img/icon-police.png") no-repeat;
	vertical-align:middle;
	margin-top:-4px;
	margin-right:6px;
}
.footer-content div{
	padding-top:6px;
	height:16px;
	line-height:16px;
}
.footer-content .none-underline{
	text-decoration:none;
}
